{% extends "base.html" %}
{% load static %}

{% block extra_title %}
  - Appointment Booking
{% endblock %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block extra_js%}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
 {% endblock %}

{% block content %}
  <form action>
    <label for="flatpickr">Please select the appointment date:</label><br>
    <input class="flatpickr flatpickr-input active" type="text" placeholder="Select Date.." readonly="readonly" id="flatpickr">
  </form>
  <p>{{ request.user }}</p>
{% endblock %}

{% block postload_js %}
{{ block.super }}
  <script type="text/javascript" src="{% static 'counselling_appts/js/flatpickr_date_picker.js' %}"></script>
{% endblock %}





