{% extends "base.html" %}
{% load static %}

{% block content %}
   <table class='table table-bordered '>
      <thead >
         <tr class="table-primary">
            <th scope='col'>Appointment Date</th>
            <th scope='col'>Client Name</th>
            <th scope='col'>Email Address</th>
            <th scope='col'>Appointment Status</th>
            <th scope='col'>Comments</th>
            <th scope='col' class="text-center">Change Status</th>

         </tr>
      </thead>
      <tbody>
         {% for appointment in appointments %}
         <tr>
            <td>{{ appointment.date }}</td>
            <td>{{ appointment.client.first_name }} {{ appointment.client.last_name }}</td>
            <td><a href="mailto: {{ appointment.client.email }}">{{ appointment.client.email }}</a></td>
            <td>
               {% if appointment.status == 0 %}
                  <span class="badge rounded-pill bg-warning text-dark">{{ appointment.get_status_display }}</span>
               {% elif appointment.status == 1 %}
                  <span class="badge rounded-pill bg-success">{{ appointment.get_status_display }}</span>
               {% else %}
                  <span class="badge rounded-pill bg-danger">{{ appointment.get_status_display }}</span>
               {% endif %}
            </td>
            <td>{{ appointment.comment }}</td>
            <td class="text-center">
               <form action="{% url 'change' appointment.id %}" method="POST">
                  {% csrf_token %}
                  <div class="d-inline">
                     <a href="{% url 'change' appointment.id %}"><button type="submit" class="btn btn-warning" name="pending" value="0">Pending</button></a>
                  </div>
                  <div class="d-inline">
                     <a href="{% url 'change' appointment.id %}"><button type="submit" class="btn btn-success" name="confirm" value="1">Confirm</button></a>
                  </div>
                  <div class="d-inline">
                     <a href="/change/{{ appointment.id }}"><button type="submit" class="btn btn-danger" name="cancel" value="2">Cancel</button></a></div>
               </form>
            </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
{%endblock%}