{% extends "base.html" %}
{% load static %}

{% block content %}
   <table class='table'>
      <thead>
         <tr>
            <th scope='col'>Appointment Date</th>
            <th scope='col'>Client Name</th>
            <th scope='col'>Email Address</th>
            <th scope='col'>Appointment Status</th>
            <th scope='col'>Comments</th>
            <th scope='col' class="text-center">Change Status</th>

         </tr>
      </thead>
      <tbody>
         {% for appointment in appointments %}
         <tr>
            <td>{{ appointment.date }}</td>
            <td>{{ appointment.client.first_name }} {{ appointment.client.last_name }}</td>
            <td><a href = "mailto: {{ appointment.client.email }}">{{ appointment.client.email }}</a></td>
            <td>
               {% if appointment.status == 0 %}
                  <span class="badge bg-warning text-dark">{{ appointment.get_status_display }}</span>
               {% elif appointment.status == 1 %}
                  <span class="badge bg-success">{{ appointment.get_status_display }}</span>
               {% else %}
                  <span class="badge bg-danger">{{ appointment.get_status_display }}</span>
               {% endif %}
            </td>
            <td>{{ appointment.comment }}</td>
            <td class="text-center">
               <div class="d-inline"><button type="button" class="btn btn-warning">Pending</button></div>
               <div class="d-inline"><button type="button" class="btn btn-success">Confirm</button></div>
               <div class="d-inline"><button type="button" class="btn btn-danger">Cancel</button></div>
            </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
{%endblock%}