{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block extra_title %}
  - Logout
{% endblock %}

{% block content %}
    <section class="parent-div">
      <div class="bg-opaque"></div>
      <div class="container d-flex w-auto h-100 ms-10 align-items-center">
        <div class="row">
          <div class="text-left">
            <h1 class="fw-bold">{% trans "Sign Out" %}</h1>
          </div>
          <hr>
          <p>{% trans 'Are you sure you want to sign out?' %}</p>

          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit">{% trans 'Sign Out' %}</button>
          </form>
        </div>
    </section>             

{% endblock %}
