{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}

{% block extra_title %}
    - Password Reset
{% endblock %}

{% block content %}
    <section class="parent-div">
        <div class="bg-opaque"></div>
        <div class="container d-flex w-auto h-100 ms-10 align-items-center">
            <div class="row">
                <div class="text-left">
                    <h1 class="fw-bold">{% trans "Password Reset" %}</h1>
                </div>
                <hr>
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="{% trans 'Reset My Password' %}" />
                </form>
                <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
            </div>
        </div>
    </section>
{% endblock %}
