{% extends "base.html" %}
{% load static %}

{% block extra_title %}
    - Home
{% endblock %}

{% block content %}
    <section class="main-image">
        <div class="container d-flex w-50 h-100 ms-4 align-items-center">
            <div class="row">
                <div class="text-center">
                    <h1 class="fw-bold">Welcome to Therapeutics</h1>
                </div>
                <div class="text-center">
                    <h3>Ireland's leading therapy center</h3>
                    <hr>
                </div>
                <div class="text-center">
                    <p class="fs-1"></p>
                </div>
                {% if not user.is_authenticated %}
                    <div class="text-center">
                        <p class="fs-5">
                            Please <a href="{% url 'account_login' %}">sign in</a> to book an appointment with us
                        </p>
                    </div> 
                {% endif %}
                {% if user.is_authenticated %}
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-dark" href="{% url 'appointment_booking' %}" role="button">Book an appointment</a>
                        <a class="btn btn-dark" href="{% url 'appointments' %}" role="button">View your appointments</a>
                        <a class="btn btn-dark" href="{% url 'account_logout' %}" role="button">Sign out</a>
                    </div>
                {% endif %}
            </div>       
        </div>
    </section>
{%endblock%}

